services:
  sample_app:
    build: .
    ports:
      - "5001:5001"
    networks:
      app-network:
    depends_on:
      - vector
    logging:
      driver: "fluentd"
      options:
        fluentd-address: "172.20.0.10:24224"
        tag: "sample_app"
        fluentd-async: "true"
        fluentd-retry-wait: "1s"
        fluentd-max-retries: "30"

  vector:
    build:
      context: .
      dockerfile: Dockerfile.vector
    ports:
      - "24224:24224"
      - "8686:8686"
    networks:
      app-network:
        ipv4_address: 172.20.0.10
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  app-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16